/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Universal Reset */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
}

body {
    background: linear-gradient(45deg, #232526, #414345);
}

/* Main Container */
.Container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

/* Todo App */
.TodoApp {
    width: 100%;
    max-width: 900px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.14);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    border: 1px solid rgba(255, 255, 255, 0.52);
}

.TodoApp h2 {
    color: #fff;
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-size: 4rem;
}

.TodoApp h2 img {
    width: 5rem;
    margin-left: 10px;
}

.TodoApp h3 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

/* Rows */
.row, .row2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #746CFE;
    color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
    margin-bottom: 25px;
}

/* Input Styling */
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    padding: 10px;
    font-size: 1.25rem;
    border-radius: 40px;
}

input::placeholder {
    color: #fff;
}

/* Buttons */
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    margin: 10px;
    background: #746CFE;
    color: #fff;
    font-size: 1.25rem;
    height: 3.5rem;
    cursor: pointer;
    border-radius: 40px;
}

button:hover {
    background: #5d53d4;
}

/* List Items */
ul li {
    list-style: none;
    font-size: 1.25rem;
    color: #fff;
    padding: 10px 1rem;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li .task-image {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

ul li.checked {
    color: #fff;
    text-decoration: line-through;
}


/* Close Button */
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transition: background 0.3s ease;
}

ul li span:hover {
    background: #edeef0;
}

/* Hidden Class */
.hidden {
    display: none;
}

/* Dialog Box */
#redeem-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(34, 30, 30, 0.9);
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    border: 1px solid rgba(255, 255, 255, 0.52);
}

#redeem-dialog h3,
#redeem-dialog label {
    color: #fff;
}

#redeem-dialog input, 
#redeem-dialog select, 
#redeem-dialog button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
}

#redeem-dialog button {
    background: #746CFE;
    color: white;
}

#redeem-dialog button:hover {
    background: #5d53d4;
}

#conversion-type {
    background: #746CFE;
    color: #fff;
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 40px;
    appearance: none;
    background-image: url('dropdown-arrow.png');
    background-position: right 20px center;
    background-size: 20px;
    background-repeat: no-repeat;
}

#spend-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: rgba(34, 30, 30, 0.9);
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    border: 1px solid rgba(255, 255, 255, 0.52);
}

#spend-dialog input, 
#spend-dialog select, 
#spend-dialog button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
} 

#redeem-dialog button {
    background: #746CFE;
    color: white;
}

#redeem-dialog button:hover {
    background: #5d53d4;
}

#spend-type {
    background: #746CFE;
    color: #fff;
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 40px;
    appearance: none;
    background-image: url('dropdown-arrow.png');
    background-position: right 20px center;
    background-size: 20px;
    background-repeat: no-repeat;
}


/* Responsive Design */
@media (max-width: 1200px) {
    .TodoApp h2 {
        font-size: 3.5rem;
    }

    ul li {
        font-size: 1rem;
    }

    button {
        padding: 12px 30px;
        height: 3rem;
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .TodoApp {
        margin: 50px auto 20px;
        padding: 30px 20px 50px;
    }

    .TodoApp h2 {
        font-size: 2.5rem;
    }

    ul li {
        font-size: 0.875rem;
    }
}

@media (max-width: 480px) {
    .TodoApp {
        margin: 20px auto 10px;
        padding: 20px 15px 30px;
    }

    .TodoApp h2 {
        font-size: 1.75rem;
    }

    ul li {
        font-size: 0.75rem;
    }
}

